---
# We need sudo for some of the Docker commands.
sudo: required

env:
  - distro: centos7
    init: /usr/lib/systemd/systemd
    run_opts: "--privileged --volume=/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - distro: centos6
    init: /sbin/init
    run_opts: ""

# Tell Travis to start Docker when it brings up an environment.
services:
  - docker

before_install:
  - 'docker pull geerlingguy/docker-${distro}-ansible:latest'

script:
  - container_id=$(mktemp)

  # Run container in detached state.
  - 'docker run --detach --volume="${PWD}":/etc/ansible/roles/role_under_test:ro ${run_opts} geerlingguy/docker-${distro}-ansible:latest "${init}" > "${container_id}"'

  # Ansible syntax check.
  - 'docker exec --tty "$(cat ${container_id})" env TERM=xterm ansible-playbook /etc/ansible/roles/role_under_test/tests/test.yml --syntax-check'

  # Test role.
  - 'docker exec --tty "$(cat ${container_id})" env TERM=xterm ansible-playbook /etc/ansible/roles/role_under_test/tests/test.yml'

  # Test role idempotence.
  - idempotence=$(mktemp)
  - docker exec "$(cat ${container_id})" ansible-playbook /etc/ansible/roles/role_under_test/tests/test.yml | tee -a ${idempotence}
  - >
    tail ${idempotence}
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  # Test assertions.
  - 'docker exec --tty "$(cat ${container_id})" env TERM=xterm ansible-playbook /etc/ansible/roles/role_under_test/tests/test-assertions.yml'

  - root1=$(mktemp)
  - root2=$(mktemp)
  - docker exec --tty "$(cat ${container_id})" env TERM=xterm grep root1 /root/.ssh/authorized_keys | tee -a ${root1}
  - docker exec --tty "$(cat ${container_id})" env TERM=xterm grep root2 /root/.ssh/authorized_keys | tee -a ${root2}
  - >
    tail ${root1}
    | grep -q 'root1'
    && (echo "root1 found: pass" && exit 0)
    || (echo "root1 not found: fail" && exit 1)
  - >
    tail ${root2}
    | grep -q 'root2'
    && (echo "root2 found: fail" && exit 1)
    || (echo "root2 not found: fail" && exit 0)

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
