---
- name: "[Authkeys] Install list of authorized_keys"
  tags:
    - configuration
    - authkeys
  authorized_key:
      user: "{{item.destination}}"
      key: "{{item.public_key}}"
      state: present
  with_items:
    - "{{authkeys_public_keys}}"
  when: item.username is defined and item.username in authkeys_enabled

- name: "[Authkeys] Remove keys from authorized_keys"
  tags:
    - configuraiton
    - authkeys
  authorized_key:
      user: "{{item.destination}}"
      key: "{{item.public_key}}"
      state: absent
  with_items:
    - "{{authkeys_public_keys}}"
  when: item.username is defined and item.username not in authkeys_enabled
